In [1]:
import pandas as pd
from scipy import stats as stats
import numpy as np

In [2]:
df=pd.read_csv('BuyerRatio.csv')

In [3]:
df.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [4]:
df_tabel=df.iloc[:,1:6]
df_tabel

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [5]:
df_tabel.values

array([[  50,  142,  131,   70],
       [ 435, 1523, 1356,  750]], dtype=int64)

In [6]:
val=stats.chi2_contingency(df_tabel)
val

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [7]:
type(val)

tuple

In [11]:
no_of_rows=len(df_tabel.iloc[0:2,0])
no_of_columns=len(df_tabel.iloc[0,0:4])
degree_of_f=(no_of_rows-1)*(no_of_columns-1)
print('Degree of freedom=',degree_of_f)

Degree of freedom= 3

In [12]:
Expected_value=val[3]

In [13]:
Expected_value

array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
       [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]])

In [14]:
from scipy.stats import chi2
chi_square=sum([(o-e)**2/e for o,e in zip(df_tabel.values,Expected_value)])
chi_square_statestic=chi_square[0]+chi_square[1]
chi_square_statestic

1.5152956451130446

In [15]:
critical_value=chi2.ppf(0.95,3)
critical_value

7.814727903251179

In [16]:
if chi_square_statestic>=critical_value:
    print('Dependent(reject H0)')
else:
    print('Independent(fail to reject H0)')

Independent(fail to reject H0)